{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block style %}
        <link rel = "stylesheet" href="{% static "css/main_style.css" %}"/>
    {% endblock %}

    <title>
    {% block title %}
        Default Title
    {% endblock %}
    </title>
</head>
<body>
<h1> PuppyPalooza </h1>
    {% block sidebar %}
        {% if request.session.user %}


            Include logged bar

         {% else %}

            {% include "base/sidebar.html" %}
        {% endif %}
    {% endblock %}

     <section class="main_section" >

         {% block main_article %}

         {% endblock %}

        {% if request.session.user %}


         {% else %}
         <form action = "" method="POST" class = "login_form">
                {% csrf_token %}
                <label for= "username"> Username </label>
                <input type="text" name = "username"  id = "username"/>
                <label for= "password"> Password </label>
                <input type = "password" name =  "password" id = "password"/>
                <input type="submit" value="Log in!"/>
         </form>
     {% endif %}

    </section>

</body>
</html>