{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block style %}
        <link rel = "stylesheet" href="{% static "css/main_style.css" %}"/>
    {% endblock %}

    <title>
    {% block title %}
        Default Title
    {% endblock %}
    </title>
</head>
<body>
    {% block sidebar %}
        {% if request.session.logged %}


            Include logged bar

         {% else %}

            {% include "base/sidebar.html" %}
        {% endif %}
    {% endblock %}
    {% block content%}


    {% endblock %}

</body>
</html>